<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
	@import url(http://fonts.googleapis.com/css?family=Raleway);
	p, h1 {font-family: 'Raleway', sans-serif; font-weight: 300;}
	p {text-size: 16px; color: #333; line-height: 1.6em;}
	.highlight {color: #50969D; font-weight: 900;}
	#message {margin: 50px 100px;}
	h1 {font-size: 30px; display: inline}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Get Out</title>
</head>
<body>

<div id="message">
<p>


So,</p><h1><span class="highlight"> <%= @tname %> </span>,</h1> <p>sounds swell. <br /><br />

It's about <span class="highlight"> <%= @dist %> </span>miles. You hike all of it? at an average rate o' speed?
Probably around<span class="highlight"> <%= @time %></span><br /><br />

Now we figure the average human needs around 5oz of water each mile they walk,
so grab some of those water bottles that rhyme with
Pal-jeans. (This, in our hypothetical world we could calculate for you, but we just pulled an all-nighter and are satisfied with our progress)<br /><br />

We're not concerned about how much food you bring. Everyone always brings too much.
But stick to high sugar, quick-burn things, like crackers, gorp, apples, etc. Save
the high-protein shi(f)t for when you're sitting around after your hike.<br /><br />

And <span class="highlight">sunscreen.</span> Jesus. Sunscreen. We sound like your mother, or your father, if he's
being motherly. Which is what I guess we built here. A fill-in-parent for you.<br /><br />

Get Outside and play. Turn this damn machine off.<br /><br />

Meaning it,
<br />- Eric, Will, and Lionel
</p>
</div>

</body>
</html>